<!DOCTYPE html>
<html>
    <head>
        <title>upload</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>upload</h1>
        <p>Welcome, {{ username }}!</p>
        <form id ="uploadform", method="post" action="/upload" enctype="multipart/form-data">
            <input type="text" name="email" id="email" placeholder="Enter your Email">
            <input type="file" name="file" id="file">
            <input type="submit" value="Upload" id="uploadButton">
        </form>
</html>